/* Navbar */
.navbar {
  min-height: 50px;
  margin-bottom: 0; }
  .navbar .nav > li > a {
    padding: 15px 10px; }

.navbar-brand {
  padding: 10px 15px; }
  .navbar-brand > img {
    display: inline; }
    .navbar-brand > img.logo {
      height: 32px; }

/* Menu */
#menu {
  padding: 10px 0 0 0; }
  #menu .nav {
    max-width: 300px; }
    #menu .nav li a {
      padding: 1rem; }
  #menu .nav-stacked > li + li {
    margin-top: 0; }
  #menu ul.inside {
    margin-left: 2rem; }
  #menu .panel-heading {
    padding: 10px 0; }
    #menu .panel-heading a {
      padding: 10px; }
  #menu .panel-body {
    padding: 1rem; }
    #menu .panel-body .nav-pills > li > a {
      border-radius: 0; }

/* Navbar */
.navbar-inverse {
  background-color: #b00071;
  border-color: #b00071; }
  .navbar-inverse .navbar-nav > li > a {
    color: whitesmoke; }
    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
      background-color: whitesmoke;
      color: #912a7e; }
    .navbar-inverse .navbar-nav > li > a > i {
      color: inherit; }
  .navbar-inverse .navbar-nav > .active > a {
    background-color: #912a7e; }
    .navbar-inverse .navbar-nav > .active > a:hover {
      background-color: whitesmoke;
      color: #912a7e; }

.navbar-brand {
  color: whitesmoke !important; }

/* Menu */
#menu .panel-heading {
  border-color: #b00071; }
  #menu .panel-heading, #menu .panel-heading a {
    background-color: #b00071;
    color: whitesmoke; }
  #menu .panel-heading.active, #menu .panel-heading.active > h4 > a {
    background-color: #912a7e; }
  #menu .panel-heading a:hover, #menu .panel-heading.active > h4 > a:hover {
    background-color: whitesmoke;
    color: #912a7e; }
#menu .panel, #menu .nav > li > a {
  border-color: #b00071; }
#menu .panel-body li.active > a {
  background-color: #912a7e;
  color: whitesmoke; }
#menu .panel-body a:hover, #menu .panel-body li.active > a:hover {
  background-color: #b00071;
  color: whitesmoke; }

/* Footer */
#footer {
  background-color: whitesmoke; }

html, body {
  height: 100%; }

.container-fluid {
  margin: 0 2rem; }
  @media (min-width: 1000px) {
    .container-fluid {
      margin: 0 4rem; } }

/* Wrapper for page content to push down footer */
#main {
  min-height: calc(100% - 50px - 1px);
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px; }
  #main article#content {
    padding-right: 2rem; }
    @media (min-width: 1000px) {
      #main article#content {
        padding-right: 4rem; } }

/* Content */
.page-header {
  margin: 10px 0 5px; }

.icon {
  width: 16px; }

p {
  text-align: justify; }

td {
  vertical-align: middle !important; }

iframe {
  width: 100%;
  border: 0; }

/* Bootstrap Panels */
.panel {
  margin-bottom: 0; }

.panel-heading {
  cursor: pointer; }
  .panel-heading .toggle {
    font-family: "Font Awesome 5 Free", serif;
    font-weight: 900; }
    .panel-heading .toggle:after {
      content: "\f078";
      /* symbol for "opening" panels */ }
  .panel-heading.collapsed .toggle:after {
    content: "\f054";
    /* symbol for "collapsed" panels */ }

.panel-title img {
  height: 24px; }

/* Anchor, for permalinks on page chapters */
.anchor, .anchor > small {
  color: transparent; }
  .anchor:hover, .anchor > small:hover {
    color: #777;
    text-decoration: none; }

/* Footer */
#footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px; }
  #footer > .container-fluid {
    padding: 10px 15px 0; }

/*# sourceMappingURL=booty.css.map */
