@charset "UTF-8";
a > code {
  color: pink !important;
}

h1, h2 {
  margin-top: 1rem;
}

iframe {
  width: 100%;
  border: 0;
}

p {
  text-align: justify;
}

table td {
  vertical-align: middle !important;
}

ul li pre {
  display: inline-flex;
  margin: 0;
}

/* Bootstrap cards */
.card {
  margin-bottom: 0;
}
.card .card-header[data-bs-toggle=collapse] {
  cursor: pointer;
}
.card .card-header .toggle:after {
  font-family: bootstrap-icons, serif;
  font-weight: 600;
  content: "";
  /* symbol for "opening" cards */
}
.card .card-header.collapsed .toggle:after {
  content: "";
  /* symbol for "collapsed" cards */
}
.card .card-header .card-title img {
  height: 24px;
}
.card .card-body {
  padding: 1rem;
}
.card .card-body p {
  margin: 0;
}

.btn-primary {
  background-color: #b00071;
  border-color: #b00071;
}
.btn-primary:hover {
  background-color: #912a7e;
  border-color: #912a7e;
}

.jumbotron {
  width: 100%;
  margin: 0;
  padding: 2rem 0;
}
.jumbotron h1 + p, .jumbotron h2 + p, .jumbotron h3 + p, .jumbotron h4 + p {
  margin-top: 1rem !important;
}

html, body {
  height: 100%;
  font-size: 15px;
}

.container-fluid {
  padding: 0 2rem;
}
@media (min-width: 1000px) {
  .container-fluid {
    padding: 0 4rem;
  }
}

/* Wrapper for page content to push down footer */
#main {
  min-height: calc(100% - 50px);
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto calc(-60px);
  /* Pad bottom by footer height */
  padding: 0 0 calc(60px + 1rem);
}

#footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  background-color: #b00071;
  color: whitesmoke;
}
#footer > .container-fluid {
  padding-top: 1rem;
}
#footer a {
  color: whitesmoke;
}

.navbar {
  min-height: 50px;
  margin-bottom: 0;
  padding: 0;
  background-color: #b00071;
  border-color: #b00071;
}
.navbar .container, .navbar .container-fluid, .navbar .navbar-collapse, .navbar .navbar-nav, .navbar .nav-item, .navbar .nav-link {
  min-height: 50px;
}
.navbar .navbar-header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .navbar .navbar-header {
    width: 100%;
  }
}
.navbar .navbar-header .navbar-toggler {
  float: right;
  margin: auto 0;
  color: whitesmoke;
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar .navbar-header .navbar-toggler .navbar-toggler-icon {
  background: none;
  height: auto;
  vertical-align: inherit;
}
.navbar .navbar-header .navbar-toggler .navbar-toggler-icon:after {
  font-family: bootstrap-icons, serif;
  font-weight: 600;
  content: "";
  /* symbol (X) for "opening" navbar menu */
  vertical-align: middle;
  font-size: 1.5rem;
}
.navbar .navbar-header .navbar-toggler.collapsed .navbar-toggler-icon:after {
  content: "";
  /* symbol (bars) for "collapsed" navbar menu */
}
.navbar .navbar-collapse {
  justify-content: space-between;
}
.navbar .navbar-brand {
  color: whitesmoke;
  display: flex;
  align-items: center;
}
.navbar .navbar-brand > img {
  display: inline;
}
.navbar .navbar-brand > img.logo {
  height: 32px;
}
.navbar .navbar-nav {
  align-items: center;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .nav-item {
    min-width: 50%;
  }
}
.navbar .navbar-nav .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.navbar .navbar-nav .nav-link:focus, .navbar .navbar-nav .nav-link:hover {
  background-color: whitesmoke;
  color: #912a7e;
}
.navbar .navbar-nav .nav-link > i {
  color: inherit;
}
.navbar .navbar-nav > .active > .nav-link {
  background-color: #912a7e;
}
.navbar .navbar-nav > .active > .nav-link:hover {
  background-color: whitesmoke;
  color: #912a7e;
}

.menu .card, .menu .nav > li > a, #menu .card, #menu .nav > li > a {
  border-color: #b00071;
}
.menu .card-header, #menu .card-header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  border-color: #b00071;
}
.menu .card-header, .menu .card-header a, #menu .card-header, #menu .card-header a {
  background-color: #b00071;
  color: whitesmoke;
}
.menu .card-header.active, .menu .card-header.active > h4 > a, #menu .card-header.active, #menu .card-header.active > h4 > a {
  background-color: #912a7e;
}
.menu .card-header a:hover, .menu .card-header.active > h4 > a:hover, #menu .card-header a:hover, #menu .card-header.active > h4 > a:hover {
  background-color: whitesmoke;
  color: #912a7e;
}
.menu .card-header a, .menu .card-header span, #menu .card-header a, #menu .card-header span {
  padding: 0.5em;
}
.menu .card-body, #menu .card-body {
  padding: 0.5em;
}
.menu .list-group .list-group-item, #menu .list-group .list-group-item {
  padding: 0.8rem 1rem;
  border: 0;
}
.menu .list-group .inside, #menu .list-group .inside {
  padding-left: 1em;
}
.menu .list-group a:hover, .menu .list-group li.active > a:hover, #menu .list-group a:hover, #menu .list-group li.active > a:hover {
  background-color: #b00071;
  color: whitesmoke;
}
.menu a.active, #menu a.active {
  font-style: italic;
  background-color: #912a7e;
  color: whitesmoke;
}

.page-header {
  margin: 10px 0 5px;
}

.icon {
  width: 16px;
}

/* Anchor, for permalinks on page chapters */
.anchor, .anchor > small {
  color: transparent;
}
.anchor:hover, .anchor > small:hover {
  color: #777;
  text-decoration: none;
}

/*# sourceMappingURL=booty.css.map */
