/* Navbar */
.navbar {
	background-color: $color-primary;
	border-color: $color-primary;
	
	.navbar-brand {
		color: $color-text-light;
	}
	
	.navbar-nav {
		.nav-link {
			color: $color-text-light;
			
			&:focus, &:hover {
				background-color: $color-text-light;
				color: $color-secondary;
			}
			
			& > i {
				color: inherit;
			}
		}
		
		& > .active > .nav-link {
			background-color: $color-secondary;
			
			&:hover {
				background-color: $color-text-light;
				color: $color-secondary;
			}
		}
	}
}


/* Menu */
#menu {
	& .card-header {
		border-color: $color-primary;
		
		&, & a {
			background-color: $color-primary;
			color: $color-text-light;
		}
		
		&.active, &.active > h4 > a {
			background-color: $color-secondary;
		}
		
		& a:hover, &.active > h4 > a:hover {
			background-color: $color-text-light;
			color: $color-secondary;
		}
	}
	
	& .card, & .nav > li > a {
		border-color: $color-primary;
	}
	
	& .card-body {
		& li.active > a {
			background-color: $color-secondary;
			color: $color-text-light;
		}
		
		& a:hover, & li.active > a:hover {
			background-color: $color-primary;
			color: $color-text-light;
		}
	}
}


/* Footer */
#footer {
	background-color: $color-text-light;
}
