/* Bootstrap cards */
.card {
	margin-bottom: 0;
	
	.card-header {
		&[data-bs-toggle="collapse"] {
			cursor: pointer;
		}
		
		.toggle:after {
			font-family: $bi-font-family;
			font-weight: 600;
			content: "\f282"; /* symbol for "opening" cards */
		}
		
		&.collapsed .toggle:after {
			content: "\f285"; /* symbol for "collapsed" cards */
		}
		
		.card-title img {
			height: 24px;
		}
	}
	
	.card-body {
		padding: 1rem;
		
		p {
			margin: 0;
		}
	}
}

.btn-primary {
	background-color: $color-primary;
	border-color: $color-primary;
	
	&:hover {
		background-color: $color-secondary;
		border-color: $color-secondary;
	}
}

.jumbotron {
	width: 100%;
	margin: 0;
	padding: 2rem 0;
	
	h1 + p, h2 + p, h3 + p, h4 + p {
		margin-top: 1rem !important;
	}
}
