html, body {
	height: 100%;
}

body {
	background-color: whitesmoke;
}

#header {
	margin-top: 1rem;
	
	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		
		&:hover {
			text-decoration: none;
		}
		
		img {
			max-width: 75%;
		}
		
		span, i {
			font-size: 50px;
		}
	}
	
	.block-title {
		display: flex;
		align-items: center;
	}
	
	.page-header {
		display: flex;
		flex-flow: column;
		text-align: center;
		font-weight: bold;
		
		a {
			color: $gray-600;
		}
		
		.pretitle {
			font-size: 1.5rem;
			font-weight: lighter;
		}
		
		.title {
			font-size: 3.5rem;
			font-weight: bold;
			margin: 0;
		}
		
		.subtitle {
			font-size: 2rem;
			font-style: oblique;
			font-weight: normal;
		}
	}
}

/* Wrapper for page content to push down footer */
#main {
	min-height: calc(100% - #{$height-header});
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto calc(-#{$height-footer});
	/* Pad bottom by footer height */
	padding: 0 0 calc(#{$height-footer} + 1rem);
	
	background-position-x: center !important;
	background-position-y: top !important;
	background-size: cover !important;
}


#footer {
	width: 100%;
	/* Set the fixed height of the footer here */
	min-height: $height-footer;
	background-color: $primary;
	color: whitesmoke;
	
	& > .container-fluid {
		padding-top: 1rem;
	}
	
	a {
		color: whitesmoke;
	}
}
