.navbar {
	min-height: $height-header;
	margin-bottom: 0;
	padding: 0;
	background-color: $color-primary;
	border-color: $color-primary;
	
	.container, .container-fluid, .navbar-collapse, .navbar-nav, .nav-item, .nav-link {
		min-height: $height-header;
	}
	
	.navbar-header {
		display: flex;
		justify-content: space-between;
		
		@media(max-width: 767px) {
			width: 100%;
		}
		
		.navbar-toggler {
			float: right;
			margin: auto 0;
			color: whitesmoke;
			border-color: rgba(255, 255, 255, 0.5);
			
			.navbar-toggler-icon {
				background: none;
				height: auto;
				vertical-align: inherit;
			}
			
			.navbar-toggler-icon:after {
				font-family: $bi-font-family;
				font-weight: 600;
				content: "\f659"; /* symbol (X) for "opening" navbar menu */
				
				vertical-align: middle;
				font-size: 1.5rem;
			}
			
			&.collapsed .navbar-toggler-icon:after {
				content: "\f479"; /* symbol (bars) for "collapsed" navbar menu */
			}
		}
	}
	
	.navbar-collapse {
		justify-content: space-between;
	}
	
	.navbar-brand {
		color: $color-text-light;
		display: flex;
		align-items: center;
		
		& > img {
			display: inline;
			
			&.logo {
				height: 32px;
			}
		}
	}
	
	.navbar-nav {
		align-items: center;
		
		.nav-item {
			@media(max-width: 767px) {
				min-width: 50%;
			}
		}
		
		.nav-link {
			display: flex;
			align-items: center;
			justify-content: center;
			color: $color-text-light;
			
			&:focus, &:hover {
				background-color: $color-text-light;
				color: $color-secondary;
			}
			
			& > i {
				color: inherit;
			}
		}
		
		& > .active > .nav-link {
			background-color: $color-secondary;
			
			&:hover {
				background-color: $color-text-light;
				color: $color-secondary;
			}
		}
	}
}


.menu, #menu {
	& .card, & .nav > li > a {
		border-color: $color-primary;
	}
	
	.card-header {
		display: flex;
		justify-content: space-between;
		padding: 0;
		border-color: $color-primary;
		
		&, & a {
			background-color: $color-primary;
			color: $color-text-light;
		}
		
		&.active, &.active > h4 > a {
			background-color: $color-secondary;
		}
		
		& a:hover, &.active > h4 > a:hover {
			background-color: $color-text-light;
			color: $color-secondary;
		}
		
		a, span {
			padding: 0.5em;
		}
	}
	
	.card-body {
		padding: 0.5em;
	}
	
	.list-group {
		.list-group-item {
			padding: 0.8rem 1rem;
			border: 0;
		}
		
		.inside {
			padding-left: 1em;
		}
		
		& a:hover, & li.active > a:hover {
			background-color: $color-primary;
			color: $color-text-light;
		}
	}
	
	& a.active {
		font-style: italic;
		background-color: $color-secondary;
		color: $color-text-light;
	}
}
