/* Navbar */
.navbar {
	min-height: $height-header;
	margin-bottom: 0;
	padding: 0;
	
	.container, .container-fluid, .navbar-collapse, .navbar-nav, .nav-item, .nav-link {
		min-height: $height-header;
	}
	
	.navbar-collapse {
		justify-content: space-between;
	}
	
	.navbar-brand {
		& > img {
			display: inline;
			
			&.logo {
				height: 32px;
			}
		}
	}
	
	.navbar-nav {
		align-items: center;
		
		.nav-link {
			display: flex;
			align-items: center;
		}
	}
}


/* Menu */
#menu {
	padding: 1rem 0 0 0;
	
	.card-header {
		display: flex;
		justify-content: space-between;
		padding: 0;
		
		a {
			padding: 0.5em;
		}
	}
	
	.card-body {
		padding: 0.5em;
		
		.list-group-item {
			border: 0;
		}
		
		.inside {
			padding-left: 1em;
		}
	}
}

