$bi-font-family: bootstrap-icons, serif;

$width-align: 4rem !default;

$height-header: 50px !default;
$height-footer: 60px !default;

$color-primary: #b00071 !default;
$color-secondary: #912a7e !default;
$color-text-light: whitesmoke !default;
