@import "variables";
@import "elements";
@import "components";
@import "layout";
@import "navigation";


.page-header {
	margin: 10px 0 5px;
}

.icon {
	width: 16px;
}

/* Anchor, for permalinks on page chapters */
.anchor, .anchor > small {
	color: transparent;
	
	&:hover {
		color: #777;
		text-decoration: none;
	}
}
